@use "../../../styles/abstracts.scss" as *;

.navbar {
  background-color: $color-secondary;
  box-shadow: 0 2px 4px 0 color-mix(in srgb, $color-secondary 5%, transparent);
}

.navbarContainer {
  height: $layout-navbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
