.footer {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    box-shadow: 0 -2px 4px 0 rgba(255, 255, 255, .05);
    position: relative;

    &__container {
        height: var(--layout-footer-height);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__highlighted {
        color: var(--color-accent);
    }
}