@import url("./reset.css");
@import url("./abstracts.css");

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

.globalLayout {
  display: grid;
  gap: 1rem;
  grid-template-rows: var(--layout-navbar-height) 1fr var(--layout-footer-height);
  min-height: 100dvh;

  >* {
    width: 100%;
  }
}